<% if @clients.count > 0 %>
  <table>
  <% @clients.each do |c| %>
    <tr>
      <td><%= c[:firstName] %></td>
      <td><%= c[:lastName] %></td>
      <td><%= c[:email] %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <% if @empty_search %>
    <p> Please enter either first name, last name or email at the top of the screen </p>
  <% else %>
    <p> No results found </p>
  <% end %>
<% end %>
<footer>
  <div>
    <% if (@page[:number] + 1) > 0 %>
      <%= link_to 'Prev', search_clients_path(search_params.merge(page: @page[:number] - 1)) %>
    <% end %>
  </div>
  <div>Current Page: <%= @page[:number] + 1 %> </div>
  <div>
    <% if @page[:number] + 1 < @page[:totalPages] %>
      <%= link_to 'Next', search_clients_path(search_params.merge(page: @page[:number] + 1)) %>
    <% end %>
  </div>
</footer>
