<% if @clients.count > 0 %>
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </thead>
    <tbody>
    <% @clients.each do |c| %>
      <tr>
        <td><%= c[:firstName] %></td>
        <td><%= c[:lastName] %></td>
        <td><%= c[:email] %></td>
        <td>
          <%= link_to 'View', client_path(c[:clientId]) %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <% if @current_page_number > 1 %>
            <%= link_to 'Prev', search_clients_path(search_params.merge(page: @page[:number] - 1)) %>
          <% end %>
        </td>
        <td colspan="2">Current Page: <%= @current_page_number %> </td>
        <td>
          <% if @current_page_number < @page[:totalPages] %>
            <%= link_to 'Next', search_clients_path(search_params.merge(page: @page[:number] + 1)) %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <% if @empty_search %>
    <p> Please enter either first name, last name or email at the top of the screen </p>
  <% else %>
    <p> No results found </p>
  <% end %>
<% end %>
