<!DOCTYPE html>
<html>
  <head>
    <title>PhorestTechtestAbepetrillo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a class="logo" href="/">
        <img src="<%= asset_path 'phorest-acorn-logo.svg' %>" />
      </a>
      <nav>
        <a href="/clients">Clients</a>
        <a href="/vouchers">Vouchers</a>
      </nav>
      <form action="clients/search" method="get">
        <input name="query" />
        <input type="submit" value="Search" />
      </form>
    </header>
    <%= yield %>
  </body>
</html>
