<!DOCTYPE html>
<html>
  <head>
    <title>Big Hair Vouchers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a class="logo" href="/">
        <img src="<%= asset_path 'phorest-acorn-logo.svg' %>" />
      </a>
      <form action="/clients/search" method="get">
        <input name="firstName" placeholder="first name..." value="<%= @search&.firstName %>"/>
        <input name="lastName" placeholder="last name..." value="<%= @search&.lastName %>"/>
        <input name="email" placeholder="email.." value="<%= @search&.email %>"/>
        <input type="submit" value="Search" />
      </form>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
